In [151]:
import pandas
import re
import spacy

In [152]:
# TXT-Datei einlesen
with open('../Datenkompetenz_Räumliche_Analyse/Daten/liste.txt', 'r') as file:
    liste = file.read()

In [153]:
#löchen alle \n
liste = liste.replace("\n", " ")

In [154]:
#jedes mal, wenn im Text das Datum vorkommt wird ein Zeilenumbruch eingesetzt
liste = re.sub(r'(\* \d+\t\+ \d+)', r'\1\n', liste)

In [155]:
#eine Liste erstellen
liste_list = liste.split("\n")

In [156]:
#DataFrame erstellen
liste_tabelle = pandas.DataFrame(liste_list, columns = ["Text"])

In [157]:
# Extrahieren des ersten Worts und Speichern in einer neuen Spalte "Erstes Wort" und rest wird in der Spalte "Rest"
#um die Tebelle weiter auszuwerten, da ständig die Fehlmeldungen immer wieder kommen
liste_tabelle["Straßenname"] = liste_tabelle['Text'].str.split().str[0]
liste_tabelle['Rest'] = liste_tabelle['Text'].str.split(n=1).str[1]

In [158]:
jahr_data = liste_tabelle['Rest'].str.extract(r'\* (\d+)\t\+ (\d+)', expand=False)
liste_tabelle['Jahr'] = '* ' + jahr_data[0] + '\t+ ' + jahr_data[1]

In [159]:
liste_tabelle.head()

,Text,Straßenname,Rest,Jahr
0,Abbestraße Ernst Abbe Physiker und Industriell...,Abbestraße,Ernst Abbe Physiker und Industrieller * 1840\t...,* 1840\t+ 1905
1,"Ackermannstraße Karl Gustav Ackermann Jurist,...",Ackermannstraße,"Karl Gustav Ackermann Jurist, Vorsteher der St...",* 1820\t+ 1901
2,Adalbert-Stifter-Weg Adalbert Stifter Österre...,Adalbert-Stifter-Weg,Adalbert Stifter Österreichischer Dichter und ...,* 1805\t+ 1868
3,Adolfstraße Adolf Franze Gutsbesitzer und Gem...,Adolfstraße,Adolf Franze Gutsbesitzer und Gemeinderat in K...,* 1894\t+ 1950
4,"Albert-Fromme-Weg Albert Fromme Chirurg, Ehr...",Albert-Fromme-Weg,"Albert Fromme Chirurg, Ehrendoktor der Medizin...",* 1881\t+ 1966

ich möchte jetzt so wiel wie möglich alles bereinigen, dass ich eine liste mit Berufe erstellen konnte, um das Geschlecht von Personen herausfinden
dafür soll:
1. Jahr löchen

In [160]:
#suchen nach Berufe
beruf = liste_tabelle["Rest"].tolist()

In [161]:
bereinigte_liste = []
for eintrag in beruf:
    if isinstance(eintrag, str):
        bereinigter_eintrag = eintrag.split('*')[0].strip()
        bereinigte_liste.append(bereinigter_eintrag)

#print(bereinigte_liste)

In [162]:
#in der Lister werden alle Wörter gesucht, die mit -erin enden, so finden wir alle Berufe von Frauen
ergebnis = []

for wort in bereinigte_liste:
    wortliste = wort.split()
    for w in wortliste:
        if w.lower().endswith("erin"):
            ergebnis.append(w)

print(ergebnis)
print(len(ergebnis))

['Schriftstellerin', 'Botanikerin', 'Schriftstellerin', 'Frauenrechtlerin', 'Malerin', 'Grafikerin', 'Malerin', 'Fürbitterin', 'Schriftstellerin', 'Stifterin', 'Wohltäterin', 'Seminarvorsteherin', 'Schriftstellerin', 'Malerin', 'Malerin', 'Hochschullehrerin', 'Schriftstellerin', 'Frauenrechtlerin', 'Porträtmalerin', 'Kammersängerin', 'Tänzerin', 'Dichterin', 'Kammersängerin', 'Malerin', 'Leiterin', 'Tierbildhauerin', 'Zeichnerin', 'Malerin', 'Schriftstellerin', 'Frauenrechtlerin', 'Wegbereiterin', 'Rittergutsbesitzerin', 'Tänzerin', 'Ehrenbürgerin', 'Begründerin', 'Inhaberin', 'Stifterin', 'Mitbegründerin', 'Widerstandskämpferin', 'Schriftstellerin', 'Frauenrechtlerin', 'Malerin', 'Bildhauerin', 'Wohltäterin', 'Stifterin', 'Ehrenbürgerin', 'Atom-Physikerin', 'Forscherin', 'Schauspielerin', 'Malerin', 'Schriftstellerin', 'Sängerin', 'Entdeckerin', 'Schriftstellerin', 'Erforscherin', 'Nobelpreisträgerin', 'Esperanto-Dichterin', 'Begründerin', 'Frauenrechtlerin', 'Sängerin', 'Mitarbeiterin', 'Tänzerin', 'Schriftstellerin', 'Erfinderin', 'Naturforscherin', 'Stifterin', 'Schauspielerin', 'Stifterin', 'Lyrikerin', 'Schriftstellerin', 'Erzählerin', 'Kunsthistorikerin', 'Politikerin', 'Führerin', 'Kommunalpolitikerin', 'Stifterin', 'Wohltäterin', 'Stifterin', 'Kammersängerin', 'Politikerin', 'Schauspielerin', 'Hofschauspielerin', 'Ballonfahrerin']
83

In [163]:
type(ergebnis)

list

In [164]:
#jetzt werden alle straßen gesucht, wo in der Spalte REST die Beruf von Frau

In [166]:
liste_tabelle.head()

,Text,Straßenname,Rest,Jahr
0,Abbestraße Ernst Abbe Physiker und Industriell...,Abbestraße,Ernst Abbe Physiker und Industrieller * 1840\t...,* 1840\t+ 1905
1,"Ackermannstraße Karl Gustav Ackermann Jurist,...",Ackermannstraße,"Karl Gustav Ackermann Jurist, Vorsteher der St...",* 1820\t+ 1901
2,Adalbert-Stifter-Weg Adalbert Stifter Österre...,Adalbert-Stifter-Weg,Adalbert Stifter Österreichischer Dichter und ...,* 1805\t+ 1868
3,Adolfstraße Adolf Franze Gutsbesitzer und Gem...,Adolfstraße,Adolf Franze Gutsbesitzer und Gemeinderat in K...,* 1894\t+ 1950
4,"Albert-Fromme-Weg Albert Fromme Chirurg, Ehr...",Albert-Fromme-Weg,"Albert Fromme Chirurg, Ehrendoktor der Medizin...",* 1881\t+ 1966

In [167]:
# Gewünschte PLZs
#desired_plzs = [1219, 1069, 1326, 1139, 1307]

# Filtern der Tabelle basierend auf den gewünschten PLZs
filtered_rows = liste_tabelle[liste_tabelle['Rest'].isin(ergebnis)]

# Extrahieren der Werte aus der Spalte "geometry"
desired_geometries = filtered_rows['Straßenname']

In [168]:
desired_geometries

Series([], Name: Straßenname, dtype: object)